trigger:
  branches:
    include:
      - main
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  appName: 'myassist554611'
  acrName: 'flowmoto'
  acrLoginServer: 'flowmoto.azurecr.io'
  imageRepository: 'fiap/$(appName)'
  imageTag: '$(Build.BuildId)'
  dockerRegistryServiceConnection: 'sc-acr-flowmoto'
  azureServiceConnection: 'sc-azure-flowmoto'
  resourceGroup: 'FlowMoto'
  location: 'eastus'

stages:
# =====================================
# ETAPA 1 - BUILD e PUSH para o ACR
# =====================================
- stage: Build
  displayName: 'Build and Push to ACR'
  jobs:
    - job: Build
      displayName: 'Docker Build and Push'
      steps:
        # Build da aplicação usando Maven
        - task: Maven@3
          inputs:
            mavenPomFile: 'pom.xml'
            goals: 'clean package'
            options: '-DskipTests'
            javaHomeOption: 'JDKVersion'
            jdkVersionOption: '1.17'

        # Build e push do Docker usando o Dockerfile
        - task: Docker@2
          displayName: 'Build and Push image to ACR'
          inputs:
            containerRegistry: '$(dockerRegistryServiceConnection)'
            repository: '$(imageRepository)'
            command: 'buildAndPush'
            Dockerfile: 'Dockerfile'
            tags: |
              $(imageTag)

# =====================================
# ETAPA 2 - DEPLOY no ACI (CD)
# =====================================
- stage: Deploy
  displayName: 'Deploy to Azure Container Instance'
  dependsOn: Build
  jobs:
    - job: Deploy
      displayName: 'Create ACI from ACR image'
      steps:
        - task: AzureCLI@2
          displayName: 'Deploy container to ACI'
          inputs:
            azureSubscription: '$(azureServiceConnection)'
            scriptType: 'bash'
            scriptLocation: 'inlineScript'
            inlineScript: |
              echo "Deploying container $(appName) to Azure Container Instance..."

              az acr login --name $(acrName)

              az container create \
                --name $(appName) \
                --resource-group $(resourceGroup) \
                --image $(acrLoginServer)/$(imageRepository):$(imageTag) \
                --cpu 1 \
                --memory 1.5 \
                --dns-name-label $(appName) \
                --ports 8080 \
                --registry-login-server $(acrLoginServer) \
                --assign-identity

              echo "Deploy concluído no Azure Container Instance!"
